.contract-page2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-image: linear-gradient(to right bottom, #ff583368, #ff99c9c4),
    url("./pexels-nordic-overdrive-627678.jpg");
}

.animated-box2 {
  height: 230px;
  width: 500px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #df8a6092;
  animation: expand 0.7s ease-in-out;
  display: flex; /* Make the box a flex container */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 2px;
}
